@model FollowedShowsViewModel
@if (Model != null)
{
  @if (Model.FollowedShows != null)
  {
    <ul>
      @foreach (var item in Model.FollowedShows)
      {
        <li>@item.Name</li>
      }
    </ul>
  }
}
