@*@model SearchResultViewModel[]

  <form asp-controller="TvShow" asp-action="FollowShow">
    <ul>
      @foreach (var item in Model)
      {
        <li>@item.Show.Name <input class="btn-success" type="submit" asp-action="FollowShow" /></li>
      }
    </ul>
  </form>*@

@model SearchResultViewModel[]

<ul>
  @foreach (var item in Model)
  {
    <li>
      @item.Show.Name
      <form asp-controller="TvShow" asp-action="FollowShow" asp-route-tvShowId="@item.Show.Id" >
        <input type="submit" class="btn btn-success" />
      </form>
    </li>
  }
</ul>
